<html>
	<head>
		<title>Tweets per Second</title>
		<script src="http://d3js.org/d3.v2.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

		<style>
			#container{
				position:relative;
				margin: 0px auto;
				width:900px;
				height:600px	
			}

			h1{
				position:relative;
				font-family:Helvetica Neue;
				font-size: 64px;
				font-weight: 300;
				letter-spacing: -2px;
				width:900px;
				margin: 10px auto;
				
			}

		</style>
	</head>
	<body>
		<h1>Tweets per Second: </h1>
		<div id="container"></div>

		<script>
		$( document ).ready(function(){

			var svg = d3.select('#container').append('svg')
				.attr('width', '900px')
				.attr('height', '600px')

			var dataAr = []	

				var ws = new WebSocket("ws://localhost:8000/socket");
			    ws.onmessage = function(event) {			    	

			       	var tweetData = event.data,
			       		newDatum = { "x" : 900/20 * 20 , "y" : tweetData * 5}		

			       	dataAr.push(newDatum)

					var groups = svg.selectAll('g')
									.data(dataAr)							

					groups.enter().append('g')
							.attr('class', 'interval')
					  		.attr("width", 20)
							.attr("transform", function(d) { 
				  				return "translate(" + 900 + "," + (600 - d.y) + ")"
				  			})
				  			.append('rect')
								.attr('width', 15)
								.attr('height', function(d){ return d.y })
								.attr('fill', '#2F4984')
								.attr('fill-opacity', .8)
							
					d3.select('.interval:last-child').append('text')
							.text(function(d){ return d.y })
							.attr('dy', '-.2em')
							.style('text-align', 'center')

					groups.transition()
					      .duration(1000)
	      				  .attr("transform", function(d, i) {
	      				  	// console.log(groups)
	      				  	dataAr[i].x = dataAr[i].x - 45
	  						return "translate(" + dataAr[i].x + "," + (600 - d.y) + ")"
	  					  })
					
	      			// dataAr.length > 21 ? dataAr.remove(0) : null

					groups.exit().remove()

					console.log('data', dataAr)

					$('#tps').remove()
			       	$('h1').delay(1000).append('<span id="tps">' + tweetData + '</span>')

				}

				Array.prototype.remove = function(from, to) {
				  var rest = this.slice((to || from) + 1 || this.length);
				  this.length = from < 0 ? this.length + from : from;
				  return this.push.apply(this, rest);
				}
		})
		</script>
	</body>
</html>
